body {
    padding-top: 5px;
    padding-bottom: 5px;
}

.field-validation-error { color: #b94a48;}
.field-validation-valid {display: none;}

input.input-validation-error {border:1px solid #b94a48; }
input[type="checkbox"].input-validation-error {border:0px none; }

.validation-summary-errors { color: #b94a48;}
.validation-summary-valid {display: none;}

.no-color {background-color:white; border-style:none;}
.message {font-size: 20pt; text-decoration: underline;}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
