@model DateTime

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>@ViewBag.Message</h2>
    The day is: @Model.DayOfWeek
</body>
</html>
