@model HelperMethods.Models.Person

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create Person";
    Html.EnableClientValidation(false);
}

<h2>Create Person: @Html.LabelForModel()</h2>

@using (Html.BeginRouteForm("FormRoute", new { }, FormMethod.Post, new { @class = "personClass", data_formType = "person" })) {
    <div class="column">
        @Html.EditorForModel()
    </div>
    <div class="column">
        @Html.EditorFor(m => m.HomeAddress)
    </div>
    <input type="submit" value="Submit" />
}